.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
  background: url("/assets/main_img_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  /* height: 300px; */
  padding-inline: 6rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.logoContainer {
  width: 280px;
  height: 60px;
  background: url("/assets/Tech_Logo_2_White_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2rem;
}

.header {
  font-size: 58px;
  line-height: 87px;
  width: 40%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  user-select: none;
}

.redHighlight {
  color: #f81004;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.header2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 3rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stacks {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 55%;
  margin-inline: auto;
}

.paraContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.para {
  text-align: center;
}

.exploreBtn {
  font-weight: 600;
  font-size: 18px;
  color: #d20820;
  user-select: none;
  cursor: pointer;
}

.videoContainer {
  width: 65%;
  aspect-ratio: 16/9;
  margin-inline: auto;
}

.paraContainer2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.para2 {
  text-align: center;
  font-size: 22px;
}

.para3 {
  text-align: center;
  font-size: 22px;
  margin-top: 2rem;
}

.continueBtn {
  margin-top: 2rem;
  padding: 0.6rem;
  width: 150px;
  background-color: #d20820;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease !important;
}

.continueBtn:hover {
  background-color: #f81004;
}

.footerLogo {
  width: 120px;
  height: 40px;
  background: url("/assets/Tech_Logo_2_White.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 6rem;
  font-size: 16px;
  background: #282a2e;
}

.footerContent1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footerContent2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.heart {
  width: 24px;
  height: 24px;
  margin-inline: 5px;
}

@media only screen and (max-width: 1200px) {
  .main {
    padding-inline: 3rem;
  }

  .header {
    margin-inline: auto;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    width: 80% !important;
  }

  .logoContainer {
    width: 230px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .stacks {
    width: 60%;
  }

  .paraContainer,
  .paraContainer2 {
    width: 80%;
  }

  .videoContainer {
    width: 90%;
  }

  .tabs {
    width: 80%;
  }

  .footerContainer {
    padding-inline: 2rem;
    font-size: 14px;
  }

  .footerContent {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding-inline: 2rem !important;
  }

  .logoContainer {
    width: 150px;
  }

  .header {
    font-size: 38px !important;
    line-height: 46px !important;
  }

  .cards {
    width: 100%;
  }

  .stacks {
    width: 80%;
  }

  .header2 {
    width: 80%;
  }

  .footerContainer {
    flex-direction: column;
  }
  .footerContent1 {
    margin-bottom: 10px;
  }

  .footerContent {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .footerContent2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1500px) {
  .header {
    width: 55%;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    width: 100% !important;
    font-size: 46px;
  }
}
