.main {
  display: flex;
  margin-bottom: 8rem;
}

.imgContainer {
  width: 60%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.contentContainer {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  width: 45%;
}

.logoContainer {
  width: 250px;
  z-index: 2;
  position: absolute;
  top: 3rem;
  left: 0;
}

.header {
  font-size: 58px;
  line-height: 87px;
  width: 70%;
  z-index: 2;
}

.redHighlight {
  color: #f81004;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.header2 {
  font-size: 36px;
  line-height: 72px;
  margin-bottom: 3rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
}

.paraContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.para {
  text-align: center;
}

.exploreBtn {
  font-weight: 600;
  font-size: 18px;
  color: #5c80bc;
}

.videoContainer {
  width: 65%;
  aspect-ratio: 16/9;
  margin-inline: auto;
}

.paraContainer2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.para2 {
  text-align: center;
  font-size: 22px;
}

.para3 {
  text-align: center;
  font-size: 22px;
  margin-top: 2rem;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 6rem;
  font-size: 18px;
  background: #6b717e;
}

.footerContent1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContent {
  flex: 1;
}

.footerContent2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.heart {
  width: 24px;
  height: 24px;
  margin-inline: 5px;
}
