.tabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.5rem;
  margin-block: 5px;
  outline: 1px solid #6b717e;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  color: #6b717e;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabContainer:hover {
  background-color: #6b717e65;
}

.active {
  outline: none;
  background-color: #5c80bc;
  color: #ffffff;
}
.active:hover {
  background-color: #709ce7;
}

.tabName {
  margin-right: 20px;
}

.tabIcon {
  transition: all 0.3s ease;
}

.activeIcon {
  transform: rotateZ(45deg);
}
