.container {
  width: min(70%, 609px);
  background: #5c80bc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1.4rem 2rem;
  margin-block: 2.5rem;
  margin-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 22px;
  margin-left: 1.5rem;
}

.subtitle {
  margin-left: 1.5rem;
  font-size: 14px;
}

.icon {
  --size: 124px;
  width: var(--size);
  height: var(--size);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 0.6rem;
    flex-direction: column;
  }

  .icon {
    --size: 100px;
  }

  .title {
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
}
